@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500&display=swap');
body{
    background-color: #0064B2;
}
h1, h2, h3, h4, h5, h6, a, p {
    font-family: 'Mulish', sans-serif;
    font-weight: bold;
    color: #0064B2;
}
.navbar-nav a{
    font-weight: bold;
}

.cek{
    font-size: 200px;
    color: green;
}